.play-button {
  position: relative;
  width: 50px;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  border-radius: 50%;
  font-size: 36px;
  text-align: center;
  background-color: #ffab40;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: #ff9100;
  }

  &:active {
    background-color: #ff6d00;
  }
}

.play-button--small {
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
}

.play-button__icon {
  font-size: inherit;
  line-height: inherit;

  .play-button--waiting & {
    display: none;
  }
}

.play-button__dots {
  position: relative;
  display: none;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #fff;
  animation: blink 1.4s infinite both;
  animation-delay: .2s;

  .play-button--waiting & {
    display: block;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #fff;
    animation: blink 1.4s infinite both;
  }

  &::before {
    animation-delay: 0;
  }

  &:after {
    left: 10px;
    animation-delay: .4s;
  }
}

@keyframes blink {
  0%   { opacity: .2; }
  20%  { opacity: 1; }
  100% { opacity: .2; }
}
